body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	position: relative; /* add position:relative to the header */
}

h1, h2 {
	margin: 0;
}

h1 {
	font-size: 36px;
	color: #333;
}

h2 {
	font-size: 24px;
	color: #666;
}

.profile-image {
	border-radius: 50%; /* add a border-radius of 50% to create a round image */
	border: 5px solid #f2f2f2; /* add a white border */
	width: 150px; /* adjust the width and height as needed */
	height: 150px;
	position: absolute; /* make the image position absolute to center it within the header */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}

a {
	color: #0077b5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	background-color: #f2f2f2;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	color: #666;
}
